@mixin hamburger($dimensions) {
  cursor: pointer;
  /*display: block;*/
  height: $dimensions;
  position: relative;
  width: $dimensions;
  span {
    background-color: currentColor;
    display: block;
    height: 2px;
    left: calc(50% - 7px);
    position: absolute;
    transform-origin: center;
    transition-duration: 200ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-in-out;
    width: 16px;
    &:nth-child(1) {
        top: calc(50% - 6px)
      }
    &:nth-child(2) {
        top: calc(50% - 1px)
      }
    &:nth-child(3) {
        top: calc(50% + 4px)
      }
    }
  &:hover {
    // background-color: rgba(black, 0.05)
  }
    // Modifers
  &.is-active {
    span {
      &:nth-child(1) {
        transform: translateY(5px) rotate(45deg)
      }
      &:nth-child(2) {
        opacity: 0
      }
      &:nth-child(3) {
        transform: translateY(-5px) rotate(-45deg)
      }
    }
  }
}
